.page {
    /* background-image: url(/welcomebg.png); */
    height: 100vh;
    color: white;
}

.header,
.mainNavigation,
.content {
    padding: 0 20%;
}

.header {
    padding: 2em 20%;
    border-bottom: 1px solid gray;
}

.mainNavigation {
    margin-bottom: 2em;
}

.mainNavigation a {
    font-weight: 700;
    color: white;
}

.content {
    height: 100%;
    color: white;
}

.contentBody {
    padding: 1em 0;
    color: black;
}
